.profile {
    width: 100%; 
    background: #4731D3;   
    color: #fff;
    padding: 4rem 0;
}
.profile-title {
    width: 80vw;
    font-size: 3rem;
    font-weight: bold;
    color: #CAF181;
    margin-bottom: 0.5rem;
}
.profile-content {
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
} 
.basic-information {
    width: 33.3%;
}
.basic-information-title {
    font-size: 2rem;
    color: #fff; 
}
.basic-information-table { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem 0;
    margin-top:1rem;
}
.basic-information span:nth-child(1), .basic-information span:nth-child(3), .basic-information span:nth-child(5), .basic-information span:nth-child(7) {
    width: 40%;
    font-weight: 500;
}
.basic-information span:nth-child(2), .basic-information span:nth-child(4), .basic-information span:nth-child(6), .basic-information span:nth-child(8) {
    width: 60%;
}
.profile-image {
    width: 33%;
}
.profile-image img {
    border-radius: 1rem;
}
.about-me {
    width: 33%;
}
.about-me-title {
    font-size: 2rem;
    justify-self: start;
}
.about-me-content {
    font-size:1.1rem;
    text-align: justify;
}
@media screen and (max-width: 894px) { 
    .profile-content {
        flex-direction: column;
        align-items: start;
    }
    .basic-information {
        width: 80%;
        display:flex;
        flex-direction: column;
    }
    .basic-information-title {
        font-size: 1.75rem;
        width: 40%;
        font-weight: 500;
    }
    .basic-information-table { 
        display: flex;
        flex-direction: row;
        justify-content: start; 
    } 
    .basic-information-table span:nth-child(1), .basic-information-table span:nth-child(3), .basic-information-table span:nth-child(5), .basic-information-table span:nth-child(7) {
        width: 30%;  
    }
    .basic-information-table span:nth-child(2), .basic-information-table span:nth-child(4), .basic-information-table span:nth-child(6), .basic-information-table span:nth-child(8) {
        width: 50%; 
        margin-left: 1rem;
    }
    .profile-image {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 0.5rem;
    }
    .profile-image img {
        width: 50%;
    }
    .about-me {
        width: 40%;
        align-self: flex-end;
    }
    .about-me-title {
        font-weight: 500;
    }
} 